<div class="welcome-container">
  <h1 class="welcome-title">Bienvenidos a Hero Manager</h1>
  <img class="welcome-image" src="assets/img/super-riu.png" alt="Hero Logo">
  <p class="welcome-description">Desarrollé esta aplicación para el challenge solicitado por <b>RIU</b> para la posición <b>Angular SR</b>.
    Intenta cumplir con todos los puntos propuestos por el equipo técnico.
    En el header se encuentra el link al repositorio en GitHub.
  </p>
  <span class="welcome-author">Desarrollado por: Emilio Chiarlone <br>
   (este mensaje solo se mostrará una vez).</span>
 
  <button class="explore-button" mat-button (click)="onExploreClick()">Explorar Héroes</button>
</div>
